<script id="facebook-jssdk" src="//connect.facebook.net/ru_RU/sdk.js"></script><script type="text/javascript">
var vk = {
  ads_rotate_interval: 120000,
  al: parseInt('3') || 4,
  id: 0,
  intnat: '' ? true : false,
  host: 'vk.com',
  lang: 0,
  rtl: parseInt('') || 0,
  version: 8732936348087,
  stDomains: 0,
  stDomain: '',
  stExcludedMasks: ["loader_nav","lang"],
  zero: false,
  contlen: 12342,
  loginscheme: 'https',
  ip_h: 'c4e380847ffc594daa',
  navPrefix: '/',
  dt: parseInt('0') || 0,
  fs: parseInt('13') || 13,
  ts: 1547520904,
  tz: 10800,
  pd: 0,
  css_dir: '',
  vcost: 7,
  time: [2019, 1, 15, 5, 55, 4],
  sampleUser: -1, spentLastSendTS: new Date().getTime(),
  a11y: 0,
  statusExportHash: '',
  audioAdsConfig: {"_":"_"},
  longViewTestGroup: "every_view",
  cma: 1,
  lpConfig: {
    enabled: 0,
    key: '',
    ts: 0,
    url: '',
    lpstat: 0
  },

  pr_tpl: "<div class=\"pr %cls%\" id=\"%id%\"><div class=\"pr_bt\"><\/div><div class=\"pr_bt\"><\/div><div class=\"pr_bt\"><\/div><\/div>",

  audioInlinePlayerTpl: "<div class=\"audio_inline_player _audio_inline_player no_select\">\n  <div class=\"audio_inline_player_right\">\n    <div class=\"audio_inline_player_volume\"><\/div>\n  <\/div>\n  <div class=\"audio_inline_player_left\">\n    <div class=\"audio_inline_player_progress\"><\/div>\n  <\/div>\n<\/div>",

  tnsPixelType: 'unauth'
};;vk.rv="17935";;if (!window.constants) { window.constants = {Groups: {
  GROUPS_ADMIN_LEVEL_USER: 0,
  GROUPS_ADMIN_LEVEL_MODERATOR: 1,
  GROUPS_ADMIN_LEVEL_EDITOR: 2,
  GROUPS_ADMIN_LEVEL_ADMINISTRATOR: 3,
  GROUPS_ADMIN_LEVEL_HOST: 4,
  GROUPS_ADMIN_LEVEL_EVENT_CREATOR: 5,
  GROUPS_ADMIN_LEVEL_CREATOR: 6,
  GROUPS_ADMIN_PSEUDO_LEVEL_ADVERTISER: 100
}}; };

window.locDomain = vk.host.match(/[a-zA-Z]+\.[a-zA-Z]+\.?$/)[0];
var _ua = navigator.userAgent.toLowerCase();
if (/opera/i.test(_ua) || !/msie 6/i.test(_ua) || document.domain != locDomain) document.domain = locDomain;
var ___htest = (location.toString().match(/#(.*)/) || {})[1] || '', ___to;
___htest = ___htest.split('#').pop();
if (vk.al != 1 && ___htest.length && ___htest.substr(0, 1) == vk.navPrefix) {
  if (vk.al != 3 || vk.navPrefix != '!') {
    ___to = ___htest.replace(/^(\/|!)/, '');
    if (___to.match(/^([^\?]*\.php|login|mobile)([^a-z0-9\.]|$)/)) ___to = '';
    location.replace(location.protocol + '//' + location.host + '/' + ___to);
  }
}

var StaticFiles = {
  'cmodules/web/common_web.js' : {v: 29},
  'common.css' : {v: 60201939279},'fonts_cnt.css' : {v: 2660709036}
  ,'lang0_0.js': {v: 25792015},'index.css':{v:19750248180},'index.js':{v:4237256002},'login.css':{v:17044894964},'ui_controls.css':{v:14978008529},'ui_controls.js':{v:1562992786},'fifa2018.js':{v:1},'time_spent.js':{v:732637085},'cmodules/web/page_layout.js':{v:2293731470},'ui_common.js':{v:1415203699},'ui_common.css':{v:18007337855},'audioplayer.js':{v:193440918271},'cmodules/web/likes.js':{v:1}
}
var abp;
</script>
